#control-nav {
    display: none;
}

.box-menu {
    display: none;
}

@media screen and (max-width: 990px) {

    .contato-form{
        width: 100%;
    }

    header.top-header-2 .ic-menu {
    }

    header.top-header-2 .ic-menu ul {
        text-align: center;
        margin-top: 40px
    }

    header.top-header-2 .ic-menu ul li a {
        font-family: 'Ubuntu', sans-serif;
        display: block !important;
        padding-left: 10px;
        padding-right: 10px;
        color: white;
        text-decoration: none;
    }

    header.myheader .mycontainer {
        margin: auto;
        width: 90% !important;
    }

    .ic-logo {
        text-align: center;
    }

    .ic-area-aluno a {
        margin: auto;
        margin-top: 40px;
    }

    .middle-text h1 {
        color: white;
        font-size: 1.6em
    }

    .middle-text .text {
        width: 100%;
    }

    .middle-text a.bt-ng {
        width: 55%;
    }

    section.section-content h2.sec-title {
        width: 100%;
        font-size: 1.6em
    }

    hr.line-red {
        margin-top: 4px;
    }

    a.bt-ver {
        width: 55%;
    }

    .box-funciona a.bt-ng {
        width: 30%
    }

    .main-header .control-nav {
        position: absolute;
        right: 20px;
        top: 20px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #FFFF01;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }

    .main-header .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #FFFF01;
    }

    .main-header .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    .main-header .ic-menu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        box-shadow: -1px 0px 5px 0px #333;
        background: #044481;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
        padding: 0px !important;
    }

    /*NEW RESPONSIVE*/
    header.myheader .control-nav {
        position: absolute;
        right: 20px;
        top: 65px;
        display: block;
        width: 30px;
        padding: 5px 0;
        border: solid #FFFF01;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }

    header.myheader .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #FFFF01;
    }

    header.myheader .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    header.myheader .mynavmenu {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
        box-shadow: -1px 0px 5px 0px #333;
        background: #044481;
        overflow-x: auto;
        z-index: 2;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
        padding: 0px !important;
    }

    /*NEW RESPONSIVE*/
    .box-menu {
        display: block;
        background: #202020;
        text-align: center;
        padding: 10px;
        position: relative;
        border-bottom: 1px solid yellow
    }

    .box-menu span.close {
        position: absolute;
        color: white;
        left: 10px;
    }

    .box-menu span.close i.fa {
        font-size: 1.4em
    }

    .ic-menu ul {
        margin-top: 0px;
    }

    .ic-menu ul li {
        display: block;
        text-align: left;
        padding: 0px;
    }

    .ic-menu ul li a {
        padding: 10px;
        background: #063e78;
        border-bottom: 1px solid #05376b;
    }

    .ic-menu ul li a:hover {
        background: #042d56
    }

    header.myheader .mynavmenu ul {
        margin-top: 0px;
    }

    header.myheader .mynavmenu ul li {
        display: block;
        text-align: left;
        padding: 0px;
    }

    header.myheader .mynavmenu ul li a {
        padding: 10px;
        background: #063e78;
        border-bottom: 1px solid #05376b;
    }

    header.myheader .mynavmenu ul li a:hover {
        background: #042d56
    }

    header.myheader .mynavmenu ul {
        margin-top: 0px;
    }

    header.myheader .mynavmenu ul li {
        display: block;
        text-align: left;
        padding: 0px;
    }

    header.myheader .mynavmenu ul li a {
        padding: 10px;
        background: #063e78;
        border-bottom: 1px solid #05376b;
    }

    header.myheader .mynavmenu ul li a:hover {
        background: #042d56
    }

    .main-footer {
        overflow: hidden;
    }

    .downfooter .pg {
        float: left;
        width: 100%;
        text-align: center;
    }

    .downfooter .pl {
        float: right;
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .downfooter .cd {
        padding-top: 10px;
        width: 100%;
        float: left;
        text-align: center;
        margin-top: 20px;
    }

    .downfooter .cd a {
        color: #323232;
        margin-left: 10px;
    }

    header.top-header-2 {
        height: 150px;
    }

    header.top-header-2 .ic-logo {
        width: 200px;
        float: left;
    }

    header.top-header-2 .ic-logo img {
        width: 50%
    }

    header.top-header-2 .main-header {
        margin-top: 0px;
    }

    header.top-header-2 .ic-area-aluno {
        margin-top: 30px;
    }

    header.top-header-2 .ic-area-aluno a {
        margin-top: 0px;
        float: right;
    }

    header.myheader .myopen {
        margin-right: 20px;
    }

    header.myheader .myopen a {
        margin: auto;
        margin-top: 40px;
    }
}

@media screen and (max-width: 766px) {
    header.myheader .mylogo {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    header.myheader .mylogo img {
        width: 66px;
    }

    header.myheader .myopen {
        width: 100%;
        margin: 0px;
    }

    header.myheader .myopen a {
        margin: auto;
    }

    .box-modulo .left-box-module {
        width: 100%;
        text-align: center;
    }

    .box-modulo .right-box-module {
        width: 100%;
        margin-left: 0px;
        margin-top: 15px;
    }

    .main-box {
        width: 97%;
        margin: auto
    }

    .user-create-account {
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }

    .user-account {
        width: 100%
    }
}

@media screen and (max-width: 500px) {
    .middle-text a.bt-ng {
        width: 100% !important;
    }

    a.bt-ver {
        width: 100% !important;
    }

    .box-funciona a.bt-ng {
        width: 50% !important;
    }
}

@media screen and (max-width: 400px) {

}

#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

#control-nav:checked ~ .ic-menu {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

#control-nav:checked ~ .mynavmenu {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}