*{margin: 0px;padding: 0px;}
html, body {height: 100%}
header.top-header{height: 100%;background: url('../img/img-background-topo.jpg')no-repeat center top fixed;background-size: cover}
header.top-header-2{height: 150px;background: url('../img/img-bg-internas.jpg')no-repeat center top fixed;}
header.top-header-2 .ic-logo{width: 120px;}
header.top-header-2 .ic-logo img{width: 100%}
header.top-header-2 .ic-menu{}
header.top-header-2 .ic-menu ul{text-align: center;margin-top: 40px}
header.top-header-2 .ic-menu ul li a{font-family: 'Ubuntu', sans-serif;display: block;padding-left: 10px;padding-right: 10px;color: white;text-decoration: none;}
header.top-header-2 .main-header{padding-top: 15px}
header.top-header-2 .ic-area-aluno {margin-top: 30px;}
header.top-header-2 .ic-area-aluno a{}
.content-main{width: 80%;margin: auto;}
.content-main-form{width: 70%;margin: auto;}
.main-header{margin-top: 0%;padding-top:5%;}
.ic-menu{}
.ic-menu ul{text-align: center;margin-top: 10%}
.ic-menu ul li{display: inline-block;}
.ic-menu ul li a{font-family: 'Ubuntu', sans-serif;display: block;padding-left: 10px;padding-right: 10px;color: white;text-decoration: none;}
.ic-area-aluno{margin-top: 3.5%;}
.ic-area-aluno a{font-family: 'Ubuntu';font-size: 0.8em;font-weight: bold; text-decoration: none;display: block;background: #FFFF01;text-align: center;padding: 10px;width: 150px;color: #00223E;text-transform: uppercase;border-radius: 20px;}
.mr-meddle{margin-top: 50px;}
.middle-text{font-family: 'Ubuntu';text-align: center;}
.middle-text h1{color: white}
.middle-text .text{font-size: 1.1em;color: white;width: 50%;margin: auto;}
.middle-text a.bt-ng{font-family: 'Ubuntu';text-transform: uppercase;display: block;border:1px solid white;width: 213px;margin: auto;margin-top: 20px;padding: 10px;border-radius: 30px;color: white;text-decoration: none;}
section.section-content{background: #F2F2F2;padding: 20px;padding-top: 40px;padding-bottom: 40px}
section.section-content .title-section{margin-bottom: 40px}
section.section-content h2.sec-title{font-family: 'Ubuntu';color: #A7A8AC;width: 50%;margin: auto;text-align: center;}
hr.line-red{width: 100px;border:0px;background: #AC2E2F;margin: auto;margin-top: 15px;height: 1px}
.content-box{text-align: center;}
.content-box-m{text-align: center;}
.content-box-m .box-curso:first-child{margin-left: 25px;}
.box-curso{width: 237px;box-shadow: 1px 1px 5px #999;border-radius: 7px;display: inline-block;margin: 8px;background: white}
.mhi{width: 243px !important;}
.box-curso .img-curso{}
.box-curso .img-curso img{width: 100%;border-radius: 7px 7px 0px 0px}
.box-curso .box-title {overflow: hidden;padding: 10px;padding-bottom: 30px;text-align: left;}
.box-curso .box-title .ic-curso{float: left;}
.box-curso .box-title .ic-title{float: left;font-size: 1.3em;width: 165px;margin-left: 10px;color: #0085C8}
.box-curso .box-footer{overflow: hidden;padding: 10px;border-top: 1px solid #CCC	}
.box-curso .box-footer .modulos{font-family: 'Ubuntu';float: left;color: #0085C8;font-weight: bold;}
.box-curso .box-footer .hora{font-family: 'Ubuntu';float: right;color: #999;font-weight: bold;}
.box-view-curso .box-curso{width: 100%;box-shadow: 1px 1px 5px #999;border-radius: 0px;display: inline-block;margin: 8px;background: white}
.box-view-curso .box-curso .img-curso{}
.box-view-curso .box-curso .img-curso img{width: 100%;border-radius: 0px;}
.box-view-curso .box-curso .box-title {overflow: hidden;padding: 10px;text-align: left;}
.box-view-curso .box-curso .box-title .ic-title{float: left;font-size: 1.3em;width: 230px;margin-left: 10px;color: #0085C8;margin-top: 5px;font-weight: bold;}
.box-view-curso .box-curso .box-text{-webkit-transition: all 500ms ease;transition: all 500ms ease;padding: 10px;text-align: justify;font-size: 0.8em;overflow: hidden;}
.box-view-curso .box-curso #lermais {font-size: 0.9em;outline: none;box-shadow: 0px -10px 30px 0px white;width: 100%;background: white;border:none;color: #0085C8;font-weight: bold;height: 50px;}
.box-view-curso .box-curso #minimizar {text-align: center;font-size: 0.8em;outline: none;width: 100%;background: white;border:none;color: #0085C8;font-weight: bold;padding: 5px;}
.box-view-curso .box-curso .box-footer{overflow: hidden;padding: 10px;border-top: 1px solid #CCC	}
.box-view-curso .box-curso .box-footer .modulos{font-family: 'Ubuntu';float: left;color: #0085C8;font-weight: bold;}
.box-view-curso .box-curso .box-footer .hora{font-family: 'Ubuntu';float: right;color: #999;font-weight: bold;}
.box-not{width: 230px;background: white;display: inline-block;margin: 10px;}
.box-not .ic-not-img{}
.box-not .ic-not-img img{width: 100%}
.box-not .text{font-family: 'Ubuntu';padding: 10px;padding-bottom: 20px;}
.box-not .text .title{text-align: left;padding: 10px 0px;color: #e80606;font-weight: 400;}
.box-not .text .text-not{text-align: left;color:#777}
a.bt-ver{font-family: 'Ubuntu';text-transform: uppercase;display: block;border:1px solid #337ab7;width: 213px;text-align: center;margin: auto;margin-top: 35px;padding: 10px;border-radius: 30px;color: #337ab7;text-decoration: none;}
a.bt-ver-m{font-family: 'Ubuntu';text-transform: uppercase;background: #337ab7;display: block;border:1px solid #337ab7;width: 213px;text-align: center;margin: auto;margin-top: 35px;padding: 10px;border-radius: 30px;color: #fff;text-decoration: none;}
a.bt-ver-a{font-family: 'Ubuntu';text-transform: uppercase;display: block;border:1px solid #4D4AF9;width: 213px;text-align: center;margin: auto;margin-top: 35px;padding: 10px;border-radius: 30px;color: #4D4AF9;text-decoration: none;}
a.bt-ver-m:hover{background:#6691b7;border-color: #6691b7;}
a.bt-ver-a:hover{background:#6691b7;border-color: #6691b7;}
.box-funciona{text-align: center;padding-bottom: 50px;padding-top: 20px;background: url('../img/img-bg-como-funciona.jpg')no-repeat center top fixed;}
.box-funciona h1{margin-bottom: 50px;color: white;font-size: 1.8em;font-weight: bold;}

.box-funciona-m{text-align: center;padding-bottom: 50px;padding-top: 20px;background: #F2F2F2}
.box-funciona-m h1{margin-bottom: 50px;color: white;font-size: 1.8em;font-weight: bold;}
.box-info-m{width: 200px;text-align: center;display: inline-block;}
.box-info-m .ic-info{}
.box-info-m .ic-info img{width: 120px}
.box-info-m .ic-text{font-family: 'Ubuntu';color: #4E4E4E; font-weight: bold;width: 140px;margin: auto;margin-top: 20px;}

.box-info{;width: 200px;text-align: center;display: inline-block;}
.box-info .ic-info{}
.box-info .ic-info img{width: 120px}
.box-info .ic-text{font-family: 'Ubuntu';color: white; font-weight: bold;width: 140px;margin: auto;margin-top: 20px;}
.box-funciona a.bt-ng{font-family: 'Ubuntu';text-transform: uppercase;display: block;border:1px solid white;width: 12%;margin: auto;margin-top: 20px;padding: 10px;border-radius: 30px;color: white;text-decoration: none;margin-top: 50px}
.depoimentos{background: #0B6E5C; padding-top: 30px;padding-bottom: 30px;}
.depoimentos .box-title{display: block;overflow: hidden;}
.depoimentos .box-title .ic-title{font-family: 'Ubuntu', sans-serif;float: left;font-size: 1.8em;color: #014F41;font-style: italic;font-weight: bold;}
.box-slide{margin-top: 20px;}
.box-slide .slide{}
.box-slide ul.slide {}
.box-slide ul.slide li{}
.box-slide ul.slide li .content-dep{position: relative;}
.box-slide ul.slide li .content-dep .text{font-family: 'Ubuntu', sans-serif;display: inline-block;width: 80%;position: absolute;top: 30px;text-align: justify;color: white}
.box-slide ul.slide li .content-dep .img{width: 150px;display: inline-block;margin-right: 20px;}
.box-slide ul.slide li .content-dep .img img{width: 100%;border-radius: 100px;}
.main-footer{background: #202020;padding-top: 30px;padding-bottom: 30px;}
.logo-footer{text-align: center;}
.links-footer{}
.links-footer ul{text-align: center;padding: 20px 0px;border-top: 1px solid;border-bottom: 1px solid;border-color: #323232;margin-top: 30px;}
.links-footer ul li{display: inline-block;}
.links-footer ul li a{font-family: 'Ubuntu', sans-serif;display: block;padding-left: 10px;padding-right: 10px;color: #323232;text-decoration: none;}
.links-footer ul li a:hover{color: #848383;}
.downfooter{padding-bottom: 40px;}
.downfooter .pg{float: left;}
.downfooter .pl{float: right;}
.downfooter .cd{padding-top: 10px;width: 200px;float: left;}
.downfooter .cd a{color: #323232;margin-left: 10px;}
/* TESTE */ 
.mr-jef{padding-top: 20px;}
header.myheader{min-height: 150px;height: auto;overflow: hidden;width: 100%;background: url('../img/img-bg-internas.jpg')no-repeat center top fixed;}
header.myheader .mycontainer{margin: auto;width: 80%;}
header.myheader .mylogo{width: 100px;float: left;}
header.myheader .mylogo img{width: 100%}
header.myheader .mynavmenu {float: left;width: 70%;}
header.myheader .mynavmenu ul{text-align: center;margin-top: 50px;}
header.myheader .mynavmenu ul li{display: inline-block;}
header.myheader .mynavmenu ul li a{font-family: 'Ubuntu', sans-serif;display: block;padding-left: 10px;padding-right: 10px;color: white;text-decoration: none;}
header.myheader .myopen{float: right;}
header.myheader .myopen a{font-family: 'Ubuntu';font-size: 0.8em;font-weight: bold; text-decoration: none;display: block;background: #FFFF01;text-align: center;padding: 10px;width: 150px;color: #00223E;text-transform: uppercase;border-radius: 20px;margin-top: 40px}
section.section-page{overflow: hidden;padding-bottom: 40px;background: #F2F2F2}
section.section-page header{margin-bottom: 20px;padding-top: 10px;}
section.section-page header .title{font-family: 'Ubuntu';font-weight: bold;font-style: italic;}
section.section-page header .title h1{text-align: center;color: #4A4A4A;}
section.section-page header .title hr{width: 100px;border:0; background: 	#FFFF02;margin: auto;margin-top: 5px;height: 1px}
.bar-search{padding: 15px;background: #E1E1E1;border-radius: 10px;text-align: center;overflow: hidden;margin-bottom: 30px;width: 98%;margin-left: 5px;}
.bar-search #tx-search{float: left;margin-left: 17%}
.bar-search button{float: left;padding: 10px;background: white;border-top: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;margin-left: -2px;border-left: 0px;border-radius: 0px 5px 5px 0px}
.bar-search button:hover{background: #eee}
.bar-search button:active{background: #cce}
#tx-search{background: white;padding-left:30px;width: 60%;padding: 10px;border-top: 1px solid #ccc;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;border-radius: 5px 0px 0px 5px}
.col-curso{}
.col-curso .title-curso{}
.col-curso .title-curso span.tl-curso{font-family: 'Ubuntu';font-weight: bold;font-size: 1.3em;display: block;width: 100%;border-bottom: 1px solid #ccc}
.col-curso .title-curso hr{width: 100px;border:1px solid #0085C8;margin-top: -2px;}

.box-modulo{background: white;padding: 10px;border-radius: 5px;margin-bottom: 15px;box-shadow: 1px 0px 3px #CCC}
.box-modulo .left-box-module{display: inline-block;width: 80%;vertical-align: top;}
.box-modulo .left-box-module .title-curso{font-weight: bold;font-size: 1.1em;color:#0085C8;padding-bottom: 10px;}
.box-modulo .left-box-module .title-text{text-align: justify;font-size: 0.9em;color: #999;padding-bottom: 10px;}
.box-modulo .left-box-module .title-clock{color: #00A34A; font-weight: bold;}
.box-modulo .right-box-module {display: inline-block;width: 17%;vertical-align: top;background:#00A34A;text-align: center;padding: 10px;border-radius: 5px;margin-left: 10px;margin-top: 3px;}
.box-modulo .right-box-module .title-com{font-family: 'Ubuntu';color: white;font-weight:bold;text-transform: uppercase;font-size: 1.3em}
.box-modulo .right-box-module .title-mod{font-family: 'Ubuntu';color: white;font-weight:200;text-transform: uppercase;font-size: 0.7em;margin-top: -2px}
.box-modulo .right-box-module .title-val{font-family: 'Ubuntu';color: white;font-weight:bold;text-transform: uppercase;font-size: 1.3em}


.completo{background: #0085C8;color: white}
.completo .left-box-module .title-curso{font-weight: bold;font-size: 1.1em;color:#fff;padding-bottom: 10px;}
.completo .left-box-module .title-text{text-align: justify;font-size: 0.9em;color: #fff;padding-bottom: 10px;}
.completo .left-box-module .title-clock{color: #FFF; font-weight: bold;}

section.section-content-page{background: #F2F2F2;padding-bottom: 40px}
section.section-content-page .title-section{margin-bottom: 20px}
section.section-content-page h2.sec-title{font-family: 'Ubuntu';color: #4E4E4E;width: 50%;margin: auto;text-align: center;font-style: italic;}
hr.line-red{width: 100px;border:1px solid #AC2E2F;margin: auto;margin-top: 15px;height: 1px}

#acord  .ui-accordion-header{

}
#acord  .ui-state-default,
#acord  .ui-widget-content .ui-state-default,
#acord  .ui-widget-header .ui-state-default{background:#D7D7D7;font-size:1.4em;}
#acord .ui-state-active, .ui-widget-content .ui-state-active,
#acord .ui-widget-header .ui-state-active{background:#D7D7D7;color:#4E4E4E;font-size:1.4em;border: none;outline: none;}
#acord h3 span{right: .7em;left:auto;margin-top: -8px;}
#acord .ui-icon {width: 20px;height: 19px;}
#acord  .ui-state-default .ui-icon{background:url(../img/icon-arrow-answer-down.png) no-repeat center top;}
#acord .ui-state-active .ui-icon{background:url(../img/icon-arrow-answer-up.png) no-repeat center top;}
#noticias-home{padding-bottom: 30px;background: #F2F2F2}
.main-box{width: 70%;margin: auto}
.article-acord{background: #D7D7D7; }
.bx-noticia-min{clear:both;padding:0;margin-top:20px;border:thin solid #ececec;background:#fff;overflow:hidden;border-radius:5px}
.bx-noticia-min img{float:left;margin-right:10px;}
.status{color:#ed1c24;font-size:13px;display:block;margin-top:10px;margin-bottom: 0px}
.bx-noticia-min a{text-decoration: none;}
.bx-noticia-min h3{margin: 0;color:#0085C8}
.bx-noticia-min p{color:#949494;margin:12px 0 0;}
aside h2{font-size:2.3em;font-weight:400;color:#000;margin:.4em 0}
.lin {position: relative;border-bottom: thin solid #d8d9d9;margin-bottom: 25px;}
.lin hr {background: #ed1c24;border: none;width: 133px;height: 1px;margin: 0;}
aside input {background:url(../layout/lupinha-searc.png) no-repeat 95% center #fff;width: 100%;line-height: 52px;padding: 0 1em;box-sizing: border-box;border: thin solid #cacbcb;border-radius: 7px;}
#sanfoninha span {left: auto;right: .5em;}
#sanfoninha .ui-icon-triangle-1-s { background-position: -46px -129px;}
#sanfoninha .ui-icon-triangle-1-e {background-position: -13px -129px;}
.ptn{padding:25px;background:url(../layout/pontilhado.png)}
.bx-description{font-family: 'Raleway', sans-serif;color:#686868}
.bx-description p{line-height:1.4}
.hrd{margin-bottom:25px;}
.hrd h2{font-size:2em;margin:10px auto;font-weight:800}
.hrd span{font-size:1.1em;}
.hrd hr{width:35px;border:none;height:1px;background:#ed1c24;margin:15px 0}
.vtr{display:inline-block;padding: 6px 23px;border-radius:50px;border:thin solid #d1d1d1;color:#d1d1d1;}
.vtr:hover{border-color:#353535;color:#353535}
.t-red{color: #ed1c24;font: 700 italic 2.2em/1 'Asap', sans-serif;margin-bottom: 0;}
#outro h2{text-transform:none;color:#686868;font-size:1.6em;margin-bottom:5px;font-family: 'Asap', sans-serif;}
.social-bt ul {padding: 3px 0 16px;border-bottom:thin solid #e5e5e5;border-top:thin solid #e5e5e5;overflow:hidden;}
.social-bt li {display: inline-block;list-style: none;float: left;height: 20px;padding-top: 5px;margin-left: 10px;padding-bottom:10px}
.artigo{padding-bottom:40px;}
.artigo img{display:inline-block;max-width:100%;}
.artigo p{line-height:1.6}
.cabecalho-artigo h2{font-size:1.6em;color:#0085C8}
.titlenew{padding: 5px; overflow: hidden;}
.titlenew span.title-new{float: left;font-family: 'Ubuntu';text-transform: uppercase;font-size:1.6em;margin-top: 10px;}
.titlenew button{float: left;font-size: 0.5em;font-weight: normal;padding: 10px;background: white;border:1px solid silver;border-radius: 5px;margin-left: 10px;margin-top: 10px;}
.center-page-text{margin: auto;width: 50%;text-align: center;}
.center-page-text .msg-type-1{font-family: 'Ubuntu';font-size: 2.1em;font-weight: 200;display: block;margin-bottom: 5px;}
.center-page-text .msg-type-2{font-family: 'Ubuntu';font-size: 0.9em;font-weight: 200;display: block;}
.center-page-text hr{background: #0085C8;border: none;width: 150px;height: 1px;margin: 0;margin: auto;margin-top: 10px;}
.box-form{margin-top: 25px;}
.box-form input[type='text']{width: 100%;padding: 10px;border-radius: 5px;border:1px solid #ccc;}
.box-form select {background: white;width: 100%;padding: 10px;border-radius: 5px;border:1px solid #ccc;}
.box-form input[type='submit']{background: transparent;font-family: 'Ubuntu';text-transform: uppercase;display: block;border:1px solid #337ab7;width: 153px;text-align: center;margin: auto;margin-top: 35px;padding: 10px;border-radius: 30px;color: #337ab7;text-decoration: none;}
.box-form input[type='submit']:hover{background: #337ab7;color: white}
.box-form input[type='submit']:active{opacity: 0.8}
.box-form textarea{width: 100%;border-radius: 5px;border:1px solid #ccc;margin-top: 20px;resize:none;padding: 10px;}
article.page-access{text-align: center;}
.user-account{box-shadow: 0px 1px 3px #ccc;text-align: left;display: inline-block;vertical-align: top;width: 40%;background: #00609D;padding: 20px;border-radius: 5px;}
.user-account .title-login{font-family: 'Ubuntu';text-transform: uppercase;color: white;font-weight: bold;font-size: 1.3em;font-style: italic;margin-bottom: 10px;}
.user-account input[type='text']{width: 100%;padding: 10px;border-radius: 5px;border:1px solid #ccc;margin-bottom: 10px;}
.user-account input[type='password']{width: 100%;padding: 10px;border-radius: 5px;border:1px solid #ccc;margin-bottom: 10px;}
.user-account input[type='password']{width: 100%;padding: 10px;border-radius: 5px;border:1px solid #ccc;margin-bottom: 10px;}
.user-account input[type='submit']{margin-top: 10px;padding: 7px;background: white;border:none;border-radius: 20px;padding-left: 30px;padding-right: 30px}
.user-account a.esqueci-senha{color: white;font-family: 'Ubuntu';font-weight: 200;font-size: 11px}

.user-create-account{box-shadow: 0px 1px 3px #ccc;margin-left: 10px;text-align: left;display: inline-block;vertical-align: top;width: 40%;background: #FFF;padding: 20px;border-radius: 5px;padding-bottom: 4px;}
.user-create-account .title-login{font-family: 'Ubuntu';text-transform: uppercase;color: #888;font-weight: bold;font-size: 1.3em;font-style: italic;padding-bottom: 10px;}
.user-create-account .text-box{line-height: 20px;font-family: 'Ubuntu';font-weight: 200;text-align: justify;font-size: 0.8em;padding-bottom: 10px;}
.user-create-account ul{}
.user-create-account ul li{list-style-position: inside;font-family: 'Ubuntu';font-weight: bold;text-align: justify;font-size: 0.8em;padding-bottom: 9px;}
.user-create-account ul li.link{list-style: none;padding-bottom: 0px;}
.user-create-account ul li.link a{text-decoration: none;display: block;border: 1px solid #888;border-radius: 30px;text-transform: uppercase;width: 100px;text-align: center;color:#888;padding: 10px;margin-top: 15px}
.user-create-account ul li.link a:hover{color: white;background: #888}
.user-create-account ul li.link a:active{opacity: 0.8}

.user-newpass {margin-top: 40px;box-shadow: 0px 1px 3px #ccc;margin-left: 10px;text-align: left;display: inline-block;vertical-align: top;width: 60%;background: #FFF;padding: 20px;border-radius: 5px;padding-bottom: 4px;}
.user-newpass  .text-box{;line-height: 20px;font-family: 'Ubuntu';font-weight: 200;text-align: center;font-size: 0.9em;padding-bottom: 10px;padding-bottom: 20px;}
.user-newpass .box-form-pass{text-align: center;}
.user-newpass .box-form-pass form{text-align: center;padding-bottom: 30px;}
.user-newpass .box-form-pass form input[type='text']{width: 70%;margin-bottom: 20px;padding: 10px;border-radius: 5px;border:1px solid #ccc;margin-bottom: 30px;}
.user-newpass .box-form-pass form input[type='submit']{background: white;margin-left: 20px;text-decoration: none;border: 1px solid #0085C8;border-radius: 30px;text-transform: uppercase;width: 100px;text-align: center;color:#0085C8;padding: 7px;}
.user-newpass .box-form-pass form input[type='submit']:hover{background: #0085C8;color: white}
.user-newpass .box-form-pass form input[type='submit']:active{opacity: 0.8}
.user-newpass .box-form-pass form a.voltar{margin-left: 20px;text-decoration: none;border: 1px solid #888;border-radius: 30px;text-transform: uppercase;width: 100px;text-align: center;color:#888;padding: 9px;}
.user-newpass .box-form-pass form a.voltar:hover{background: #CCC; color: white}
.user-newpass .box-form-pass form a.voltar:active{opacity: 0.8}
.contato-form{background:white;box-shadow: 0px 1px 3px #ccc;width: 60%;overflow: hidden;margin: auto;margin-top: 50px;padding: 20px;}
.contato-form .text-box{padding-top: 30px;line-height: 20px;font-family: 'Ubuntu';font-weight: 200;text-align: center;font-size: 0.9em;padding-bottom: 30px;}
.contato-form .text-box-left{font-family: 'Ubuntu';font-weight: bold;text-align: left;font-size: 1em;padding-bottom: 10px;padding-left: 10px;}
.contato-form input[type='text']{width: 100%;padding: 10px;border-radius: 5px;border:1px solid #ccc;margin-bottom: 20px;}
.contato-form input[type='password']{width: 100%;padding: 10px;border-radius: 5px;border:1px solid #ccc;margin-bottom: 20px;}
.contato-form input[type='submit']{margin-top: 15px;}
a.cancel{background: transparent;font-family: 'Ubuntu';text-transform: uppercase;display: block;border:1px solid #CCC;width: 153px;text-align: center;margin: auto;margin-top: 17px;padding: 10px;border-radius: 30px;color: #CCC;text-decoration: none;}
a.cancel:hover{background: #CCC;color: white}
a.cancel:active{opacity: 0.8}
.contato-form select{margin-bottom: 20px !important;}
.mr-pad{padding-right: 10px !important;padding-left: 10px !important;}
.mr-pad-min{padding-right: 1px !important;padding-left: 1px !important;}
.mr-pad-min:last-child{padding-left: 5px !important}
section.form-section{padding-top: 40px;}
section.form-section .form-section-content{width: 70%; margin: auto;}
.mr-pad-2{padding-left: 0px;padding-right: 0px;}
.view-curso{background: white;padding: 10px;border-radius: 8px;box-shadow: 0px 1px 3px #ccc;margin-bottom: 10px;}
.view-curso ul.list-curso-detalhes{padding: 10px}
.view-curso ul.list-curso-detalhes li{list-style: none;color: #7f7f7f}
.view-curso ul.list-curso-detalhes li strong{font-weight: bold;}
.view-curso ul.list-curso-detalhes li.red {color: #C20000; font-weight: bold;}
.view-curso ul.list-curso-detalhes li.red-line {color: #C20000; font-weight: bold;text-transform: uppercase;}
.view-curso ul.list-curso-detalhes li.green {color: #00A34A; font-weight: bold;}
.view-curso .ic-title{float: left;font-size: 1.3em;margin-left: 10px;width: 100%;color: #0085C8;font-weight: bold;padding: 10px 0px;}
.view-curso .box-view-open{background: #00A34A;text-align: center;border-radius: 5px;padding: 5px;padding-bottom: 10px;}
.view-curso .box-view-open img{padding-top: 10px;}
.view-curso .box-view-open span.title-view{font-family: 'Ubuntu';text-transform: uppercase;display: block;font-weight: bold;color: white;padding-top: 10px;}
.view-curso .box-view-open span.strong{font-family: 'Ubuntu';text-transform: uppercase;display: block;font-weight: bold;color: white;padding-top: 5px;font-size: 1.2em}
.view-curso .last-box{padding: 15px;}
.view-curso .last-box{padding: 15px;}
.view-curso a.disabled{text-decoration: none;}

.pagamentos .ic-title{color: #DFC405}
.pagamentos .view-cancel{background: #dc3737}
.pagamentos a.red-cancel{float: left;color: #C20000;display: block;background: blue;}

.view-curso .box-view-open .title-com{font-family: 'Ubuntu';color: white;font-weight:bold;text-transform: uppercase;font-size: 1.3em;margin-top: 10px;}
.view-curso .box-view-open .title-mod{font-family: 'Ubuntu';color: white;font-weight:200;text-transform: uppercase;font-size: 0.7em;margin-top: -2px}
.view-curso .box-view-open .title-val{font-family: 'Ubuntu';color: white;font-weight:bold;text-transform: uppercase;font-size: 1.3em}
section.myvideo{}
section.myvideo .box-video{margin-top: 20px;border-radius: 10px;box-shadow: 0px 1px 3px #ccc;display: inline-block;}
section.myvideo .box-video .capa-video{}
section.myvideo .box-video .capa-video img{width: 100%; border-radius: 5px 5px 0px 0px;}
section.myvideo .box-video .text{padding-bottom: 10px;background: white;border-radius: 5px}
section.myvideo .box-video .text span.title{display: block;font-size: 1.2em;padding: 10px;font-weight: bold;}
section.myvideo .box-video .text a.play{background: #0CA650;margin-left: 10px;text-decoration: none;border: 1px solid #0CA650;border-radius: 30px;width: 110px;text-align: center;color:#FFF;padding: 5px;display: block;font-weight: bold;}
section.myvideo .box-video .text a.play img{margin-right: 5px;}
section.myvideo .box-video .text a.play:hover{background: #0CA650;}
section.myvideo .box-video .text a.play:active{opacity: 0.8}
.alter-01{width: 70% !important;}
.alter-02{width: 67.9% !important;}
a.voltarbt{background: #0085C8;margin-left: 10px;text-decoration: none;border: 1px solid #0085C8;border-radius: 30px;width: 110px;text-align: center;color:#FFF;padding: 5px;display: block;font-weight: bold;padding-right: 11px;margin-left: 46%;margin-top: 20px;}
a.voltarbt img{margin-right: 5px;margin-top: -5px}
a.voltarbt:hover{opacity: 0.8;}
a.voltarbt:active{opacity: 0.3}
section.playvideo{background: #414143;width: 100%;overflow: hidden;padding: 10px;text-align: center;width: 70%;margin: auto;border-radius: 5px;}
.box-info-aula{font-family: 'Ubuntu';overflow: hidden;background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px #ccc;
    margin-bottom: 10px;}
.box-info-aula header{}
.box-info-aula header span {font-weight: 500;}
.box-info-aula .list-download {}
.box-info-aula .list-download ul{}
.box-info-aula .list-download ul li{border-top: 1px solid rgba(240,240,240,0.7);padding: 5px;}
.box-info-aula .list-download ul li:last-child{border-bottom: 1px solid rgba(240,240,240,0.7)}
.box-info-aula .list-download ul li span.text{float: left;} 
.box-info-aula .list-download ul li span.download{float: right;} 
.box-info-aula .list-download ul li span.download a.play{display: block;font-weight: 500;color: #00A34A;} 
.medium{width: 72%;margin: auto;margin-top: 20px;}