.top {
	padding:10px 10px 10px 10px;

	*padding:10px 8px 10px 8px;

	margin:13px 3px;
	float:left;
	color:#999999
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	cursor:pointer;	
	z-index:10;
	float:left;
	
	}
.top_hover {
	padding:10px 10px 10px 10px;
	
	*padding:10px 8px 10px 8px;

	margin:13px 3px;
	float:left;
	color:#ffffff;
	background-image:url(../img/background_menu_over.jpg);
	background-position:center top;
	background-repeat:repeat-x;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	cursor:pointer;
	float:left;
	}
