@CHARSET "ISO-8859-1";

/*Carregando do Ajax*/
#carregando
{
    display:none;
    position:absolute;
    z-index:100000;
    width:100%;
    height:100%;
    background-image:url(../img/overlay.png);
    background-repeat:repeat;
}

#carregando2
{
    display:none;
    position:absolute;
    z-index:100000;
    width:100%;
    height:100%;
    background-image:url(../img/overlay.png);
    background-repeat:repeat;
}

#img_loading
{
    position:relative;
    width:100%;
    height:100%;
    background-image:url(../img/loading.gif);
    background-repeat:no-repeat; 
    background-position:center;
}

#img_loader
{
    position:relative;
    width:100%;
    height:100%;
    background-image:url(../img/loader.gif);
    background-repeat:no-repeat; 
    background-position:center;
}

#img_carregando
{
    position:relative;
    width:100%;
    height:100%;
    background-image:url(../img/carregando.gif);
    background-repeat:no-repeat; 
    background-position:center;
}

#img_carregando_input
{
    position:relative;
    background-image:url(../img/load_barra.gif);
    background-repeat:no-repeat; 
    background-position:center;
    border:1px solid #CCCCCC;
    background-color:#FFFFFF;
}

#img_carregando_frete
{
    position:relative;
    background-image:url(../img/carregando_setinhas.gif);
    background-repeat:no-repeat; 
    background-position:center;
    background-color:#F4F4F4;
    width:100%;
    height:70px;
}

#img_carregando_barra
{
    position:relative;
    background-image:url(../img/barra.gif);
    background-repeat:no-repeat; 
    background-position:center;
    background-color:#FFFFFF;
    width:100%;
    height:100px;
}

.fade_div
{
    display:none;
    position:absolute;
    z-index:1000;
    width:100%;
    height:100%;
    background-image:url(../img/overlay.png);
    background-repeat:repeat;
}

.divOk
{
    width:95%;
	height: auto;
    border: 1px solid #99CC00;
    background-color: #EBF5CC;
	padding:10px 0px 10px 0px;
    margin:10px 0px 10px 0px;
	font-size:11px;
	text-align:left;
	font-weight:bold;
}


.divOk2
{
    width:100%;
	height: auto;
    border: 1px solid #99CC00;
    background-color: #EBF5CC;
	padding:10px 0px 10px 0px;
    margin:10px 0px 10px 0px;
	font-size:11px;
	text-align:left;
	font-weight:bold;
}


.imgOk
{
    width:37px;
	height:35px;
	padding:10px;
    background-image:url(../img/icon_sucesso.jpg);
	background-position:center;
	background-repeat:no-repeat;
}

.divErro
{
    width:95%;
    border: 1px solid #CC0000;
    background-color: #FAE5E5;
    padding:10px 0px 10px 0px;
    margin:10px 0px 10px 0px;
	font-size:11px; 
	font-weight:bold;

}

.imgErro
{
    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../img/icon_erro.jpg);
    background-position:center;
    background-repeat:no-repeat;
}

.divAlert
{
    width:95%;
	border: 1px solid #FFCC00;
	background-color: #FFFFF0;
	padding:10px 0px 10px 0px;
	margin:10px 0px 10px 0px;
	font-size:11px; 
	font-weight:bold;
}


.divAlert2
{
    width:100%;
	border: 1px solid #FFCC00;
	background-color: #FFFFF0;
	padding:10px 0px 10px 0px;
	margin:10px 0px 10px 0px;
	font-size:11px; 
	font-weight:bold;
}


.imgAlert
{
    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../img/icon_alert.jpg);
    background-position:center;
    background-repeat:no-repeat;
}

.conteudosDiv
{
    padding:10px;
	font-size:11px;
	font-family:verdana;
    text-align:justify;
    line-height:20px;
	font-weight:bold;
}

.conteudosDiv2
{
    padding:10px;
	font-size:16px;
	font-family:verdana;
    text-align:justify;
    line-height:20px;
	font-weight:bold;
	color:#003333;
}

.conteudosDiv3
{
    padding:10px;
	font-size:16px;
	font-family:verdana;
    text-align:justify;
    line-height:20px;
	font-weight:bold;
	color:#cc0000;
}