@CHARSET "ISO-8859-1";

/*Carregando do Ajax*/
#carregando
{
    display:none;
    position:absolute;
    z-index:100000;
    width:100%;
    height:100%;
    background-image:url(../img/overlay.png);
    background-repeat:repeat;
}

#img_loading
{
    position:relative;
    width:100%;
    height:100%;
    background-image:url(../img/loading.gif);
    background-repeat:no-repeat; 
    background-position:center;
}

#img_carregando
{
    position:relative;
    width:320px;
    height:220px;
    background-image:url(../img/carregando.gif);
    background-repeat:no-repeat; 
    background-position:center;
}

#img_carregando_checkbox_bairros
{
    position:relative;
    background-image:url(../img/carregando_select.gif);
    background-repeat:no-repeat; 
    background-position:center;
    border:1px solid #CCCCCC;
    background-color:#FFFFFF;
}

#img_carregando_excluir_img
{
    position:relative;
    width:72px;
    height:54px;
    background-image:url(../img/carregando.gif);
    background-repeat:no-repeat; 
    background-position:center;
}

.fade_div
{
    display:none;
    position:absolute;
    z-index:1000;
    width:100%;
    height:100%;
    background-image:url(../img/overlay.png);
    background-repeat:repeat;
}

.divOk
{
    width:95%;
	height: auto;
    border: 1px solid #99CC01;
    background-color: #F5FAE5;
    margin:10px 0px 10px 0px;
	font-size:11px;
	text-align:left; 
}

.imgOk
{
    width:37px;
	height:35px;
	padding:10px;
    background-image:url(../img/imgSucesso.jpg);
	background-position:center;
	background-repeat:no-repeat;
}

.divErro
{
    width:95%;
    border: 1px solid #CC0134;
    background-color: #FCF2F2;
    padding:10px 0px 10px 0px;
    margin:10px 0px 10px 0px;
	font-size:11px; 
}

.imgErro
{
    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../img/imgErro.jpg);
    background-position:center;
    background-repeat:no-repeat;
}

.divAlert
{
    width:95%;
	border: 1px solid #FFCC00;
	background-color: #FFFFF0;
	padding:10px 0px 10px 0px;
	margin:10px 0px 10px 0px;
	font-size:11px; 
}

.imgAlert
{
    width:37px;
    height:35px;
    padding:10px;
    background-image:url(../img/imgAlerta.jpg);
    background-position:center;
    background-repeat:no-repeat;
}

.conteudosDiv
{
    padding:10px;
	font-size:11px;
	font-family:verdana;
    text-align:justify;
    line-height:20px;
}