@charset "utf-8";
/* CSS Document */
*{
box-sizing:border-box
}
body{
font-family: 'Roboto', sans-serif;
}
a{
text-decoration:none;
color:inherit
}
#cabecalho{
background:#00609e;
border-top:thin solid #f4e602;
color:#fff;
padding:50px 0 4px;
}
#logo{
display:inline-block;
width:100%;
height:auto;
max-width:119px;
margin-top: -26px;
}
#wrap-menu ul{
margin:0;
padding:0;
}
#wrap-menu ul li{
display:inline-block;
list-style:none;
font-size:1em;
line-height:1.4;
font-weight:300;
margin:1.2em 1em;
position:relative;
}
#wrap-menu ul li a{
display:inline-block;
width:100%;
height:100%;
}
#wrap-menu ul li span{
height:2px;
width:0;
background:#f4e602;
position:absolute;
top:99%;
left:0;
}


/*hover efects*/
#wrap-menu ul li:hover a{
transition:450ms linear;
color:#f4e602;
}
#wrap-menu ul li:hover span{
transition:450ms linear;
width:100%;
}

/*pagina ativa*/
.qs #wrap-menu ul li.qs span,
.cs #wrap-menu ul li.cs span,
.nt #wrap-menu ul li.nt span,
.pm #wrap-menu ul li.pm span,
.ap #wrap-menu ul li.ap span,
.ct #wrap-menu ul li.ct span{
transition:450ms linear;
width:100%;
}
.qs #wrap-menu ul li.qs a,
.cs #wrap-menu ul li.cs a,
.nt #wrap-menu ul li.nt a,
.pm #wrap-menu ul li.pm a,
.ap #wrap-menu ul li.ap a,
.ct #wrap-menu ul li.ct a{
color:#f4e602;
}



.bt{
display:inline-block;
text-align:center;
padding:.4em .8em;
}
.bt-full{
display:block;
text-align:center;
width:100%;
}
.area-aluno{
background:#044a77;
font:700 1em/1.4 'Roboto', sans-serif;
padding:1.4em 0;
}
#banner{
margin-top: -131px;
}
.espa{
height:194px;
}

.box-slider .bx-controls{
position: absolute;
z-index: 999;
top: 26px;
right:0;
height: 35px;
}
.box-slider .bx-wrapper .bx-controls-direction a,
.descricao .bx-wrapper .bx-controls-direction a{
position:relative;
margin:0 10px;
text-align:right;
font-size: 1.4em;
color:#cccdce
}
.box-slider .bx-wrapper .bx-controls-direction a:hover,
.descricao  .bx-wrapper .bx-controls-direction a:hover{
color:#353535
}
.box-slider .bx-wrapper .bx-prev,
.descricao .bx-wrapper .bx-prev{
left:0;
}

.box-slider .bx-wrapper .bx-next,
.descricao .bx-wrapper .bx-next{
right:0
}
.box-slider .bx-viewport{
min-height:380px
}

#noticias{
background:#f2f2f2
}
.bx-nt{
overflow:hidden;
border-radius:5px;
border:thin solid #a3a3a3;
background:#fff;
}
.bx-nt:hover figcaption{
background:#00609e;
}
.bx-nt:hover *{
color:#fff
}
.bx-nt:hover, .area-aluno:hover,
.bx-noticia-min:hover{
opacity:.8
}
.bx-nt figure{
width:100%;
height:auto
}
.bx-nt figure img{
border-bottom:1px solid #00609e;
}
.bx-nt figcaption{
padding:.6em 1em;
}
.bx-nt h3{
margin:0 auto 8px;
height:57px;
line-height:1.2;
font-size:1.4em;
font-weight:400;
color:#00609e
}
.bx-nt h4{
color:#00609e
}
.status{
color:#f35600;
font-size:13px;
}
.turno:before{
content:'Turno:  ';
font-weight:500;
} 
.inicio:before{
content: 'Inicio: ';
font-weight:500;
}
.turno, .inicio{
font-size:13px;
color:#5e686e
}
#noticias  .bx-nt{
border:none
}
#bx-azule{
background:url(../layout/faixa-parallax-t.png) no-repeat center top fixed;
background-size:cover
}
/*contador*/
.wrap-cont{
width:200px;
margin:auto;
position:relative;
}
.txt-int{
width:128px;
position:absolute;
left:50%;
margin-left:-64px;
text-align:center;
top:64px;
font-size:19px;
color:#fff;
}
.wrap-cont p{
color:#fff;
text-align:center;
margin-top:-10px;
}
.txt-int span{
display:block;
color:#f0f300;
font-weight:900
}
.ft-0{
font-size:0
}
.fichario{
color:#5e6062
}
.fichario figure{
float:left;
width:136px;
height:135px;
border-radius:50%;
overflow:hidden;
}
.fichario figcaption{
float:left;
max-width:80%;
margin-left:3%
}
.descricao{
color:#5e6062
}
.fichario h3{
color:#00609e;
font-size:1.4em;
margin-bottom:0;
}
.hrm{
border:none;
height:1px;
background:#f35600;
margin-bottom:20px;
width:36px;
display:inline-block;
}
.fichario table{
width:100%;
font-size:.8em;
}
thead{
font-weight:700;
text-align:left
}
.raiub{
border:thin solid #ccc;
padding:15px;
border-radius:10px
}
#atendimento{
background:#00609e;
border-bottom:1px solid #f4e602;
color:#014068;
}
#atendimento h2{
margin-top:15px;
font-size:1.8em;
text-transform:uppercase
}
.fale{
color:#fff;
background:#f35600;
border:thin solid #f35600;
line-height:63px;
margin-top:27px;
padding:0 1.2em;
transition:350ms linear;
border-radius:5px;
}
.fale:hover{
background:#f56a1e
}
.address{
font-style:normal;
font-size:1em;
font-weight:700

}

.address p{
height:35px;
padding-left:42px;
background-image:url(../layout/sprite-1.png);
background-repeat:no-repeat;
line-height:35px
}
.address p span{
font-size:2em;
}
p.fone{
background-position:-2px -1px;
}
p.whats{
background-position:-2px -45px;
}
p.l-email{
background-position:-2px -84px;
}
p.l-facebook{
background-position:-2px -126px;
}
#rodape{
padding:25px 0;
text-align:center;
border-bottom:3px solid #00609e;
color:#808184;
}
#logos-r{
max-width:111px;
display:inline-block;
height:auto;
margin:25px auto;
}
.hvr:hover{
opacity:.9
}

#menu-rodape ul{
margin:35px auto 80px;
}
#menu-rodape li{
display:inline-block;
}
#menu-rodape li a{
display:inline-block;
width:100%;
height:100%;
padding:0 .4em;
}
#menu-rodape li a:hover{
color:#353535
}
.direitos{
float:left;
text-align:left
}
.powered-by{
float:right;
text-align:right;
line-height:30px;
height:30px;
display:inline-block
}
.powered-by img{
float:right;
display:inline-block;
margin-left:10px;
}
.t-center{
text-align:center
}
.migalha{
border-top:thin solid #025186;
margin-top:20px;
padding:20px 0;
}
.migalha h2{
text-transform:uppercase;
margin:15px auto 20px;
font-size:1.2em
}
.migalha p{
font-size:11px;
}
article{
color:#6d6e71;
}
article img{
max-width:100%;
display:inline-block
}
h2.fine{
font-weight:300;
color:#6d6e71;
font-size:2em;
}
.hceter{
max-width:184px;
height:1px;
background:#03436e;
margin:25px auto;
border:none
}

.pull-right {
width: 100%;
background: #dcddde;
border-radius: 10px;
overflow: hidden;
margin: 25px auto;
}
.pull-right button.act {
    transition: 350ms linear;
    background: #dd5324;
    color: #fff;
}
.pull-right button {
    background: inherit;
    border: none;
    padding: 1.4em .6em;
    font-size:1em;
	color:#6b6b6b
   
}
#lithumb{
padding:0
}
.banner-curso figure{
border-radius:5px;
max-width:467px;
overflow:hidden
}
.banner-curso{
max-width:1170px;
border:thin solid #ccc;
overflow:hidden;
margin:auto;
border-radius:5px;
max-height:295px;
color:#5e686e;
} 
.banner-curso .span5{
margin-left: -3px;
}
.banner-curso h2{
color:#00609e;
font-size:2em;
margin: .5em 0;
}
.banner-curso p{
background-image: url(../layout/sprite-2.png);
background-repeat: no-repeat;
padding-left: 40px;
height: 25px;
margin: 0 auto 13px;
}
.banner-curso p.tur{
background-position: -0px -8px;
}
.banner-curso p.ini{
background-position: -0px -43px;
}
.banner-curso p.day{
background-position: -0px -78px;
}
.banner-curso p.niv{
background-position: -0px -111px;
}
.bverde{
background:#0d9b78;
}
.banner-curso .bt{
border-radius:5px;
color:#fff;
margin-top:12px;
color:#fff;
padding:.8em 1.2em;

}
.banner-curso .bt:hover{
opacity:.8
}
.bcinza{
background:#969696;
margin-left:15px;
}
.bx-noticia-min,
.bx-noticia{
padding-bottom:28px;
margin-bottom:28px;
border-bottom:thin solid #d9d9d9;
clear:both;
color:#5e686e
}
.bx-noticia-min img{
float:left;
margin-right:2.5%
}
.bx-noticia-min h3,
.bx-noticia h3{
font-size:1.4em;
margin:0;
}
.bx-noticia-min h3{
color:#00609e
}
.bx-noticia-min p{
margin-top: 5px;
}
.lin {
    position: relative;
    border-bottom: thin solid #d8d9d9;
    margin-bottom: 25px;
}
.lin hr {
    background: #f35600;
    border: none;
    width: 133px;
    height: 2px;
    margin: 0;
}
aside input {
    background:url(../layout/lupa-um.png) no-repeat 95% center #fff;
    width: 100%;
    line-height: 52px;
    padding: 0 1em;
    box-sizing: border-box;
    border: thin solid #cacbcb;
    border-radius: 7px;
}
sanfoninha .ui-state-active, #sanfoninha .ui-widget-content .ui-state-active, #sanfoninha .ui-widget-header .ui-state-active, #sanfoninha .ui-state-default, #sanfoninha .ui-widget-content .ui-state-default, #sanfoninha .ui-widget-header .ui-state-default {
    background: none;
    border: none;
    border-bottom: thin solid #d8d9d9;
    padding: .5em 0;
}
#sanfoninha span {
    left: auto;
    right: .5em;
}
ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
border:none
}
.ui-icon-triangle-1-s {
background-position: -46px -129px;
}
.ui-icon-triangle-1-e {
background-position: -13px -129px;
}
section article header,
.bx-noticia{
border:none
}
header.titulo-artigo h3{
color:#f35600;
font-size:1.6em;
font-weight:400;
max-width:664px;
}
.social-bt ul{
padding:0
}
.social-bt li{
display: inline-block;
list-style: none;
float: left;
height: 20px;
padding-top: 5px;
margin-left: 10px;
}
#fb-root {
  display: none;
}
.footer-artigo .fb_iframe_widget,.footer-artigo .fb_iframe_widget span,.footer-artigo .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}
.bx-aprovados hr.divisa{
border:0;
height:1px;
background:#ccc
}
/*formulario*/
.form-contato input,
.form-contato .fls,
.form-contato  textarea{
width:100%;
font-family: "Roboto";
font-size:14px;
color:#6f6565;
line-height:1.4;
padding:.8em 1.2em;
border-radius:5px;
border:thin solid #d1d1d1;
margin-bottom:22px;overflow:hidden;
}
.form-contato  textarea{
height:118px;
resize:vertical
}
.form-contato .fls{
overflow:hidden;
background:url(../layout/seta-form.png) no-repeat 96% center 
}
.form-contato select{
width:111%;
background:none;
border:none
}
.form-contato fieldset{
border:none;
margin-top:22px;
}
.form-contato  legend{
display:block;
text-align:center;
font-weight:700;
color:#6f6565;
font-size:1.6em;
padding-bottom:10px;
border-bottom:thin solid #d1d1d1;
width: 95.12%;
max-width: 1170px;
margin-left: 2.43%;
margin-bottom:35px
}
.form-contato .mauto{
margin:auto;
float:none;
display:block
}
.form-contato input[type="submit"]{
display:block;
margin-left:auto;
margin-right:auto;
max-width:169px;
border:thin solid #00609e;
color:#00609e;
background:none;
font-size:16px;
padding:1.4em 0;
}
.form-contato input[type="submit"]:hover{
transition:450ms ease-in-out;
background:  #00609e;
color:#fff
}
.janela-modal{
background:rgb(0,0,0);
background:rgba(0,0,0,.8);
position:fixed;
z-index:9999;
top:0;
left:0;
width:100%;
height:100%;
display:none;
}
.box{
width:100%;
max-width:570px;
padding:30px;
border-top:3px solid #00609e;
margin:5% auto;
background:#fff;
text-align:center;
border-radius:0 0 5px 5px;
}
.box h4{
color:#00609e;
font-size:1.6em;
margin-top:0
}
.btlaranja{
background:#f35600;
color:#fff;
text-transform:uppercase;
border-radius:5px;
line-height:2.2em;
padding:.4em 1.1em
}
.btlaranja:hover{
opacity:.8
}
.light{
display:block;
font-size:.5em
}
.lar{
background:#f35600
}
.google-maps {
    position: relative;
    padding-bottom: 25%; 
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.reform{
display:block;
margin-bottom:35px;
color:#6d6e71
}
.reform:hover{
text-decoration:underline
}
.pnl{
padding:15px;
border:thin solid #ccc;
border-top:thin solid #00609e;
border-radius:5px;
margin-bottom:25px;
}
table#painel-aluno{
width:100%;
line-height:30px;
color:#5b5b5b;
font-family: 'Asap', sans-serif;
font-style:italic;
font-size:1.2em
}
table#painel-aluno strong{
font-weight:700;
}
.tbm{
float:left;
margin-left:25px
}
.logout{
font-size:.8em
}
#procura{
width:100%;
display:block;
padding:16px;
background:#00609e;
border-radius:10px;
margin-bottom:35px
}
#procura input{
width:100%;
max-width:654px;
margin:auto;
display:block;
line-height:38px;
border-radius:5px;
border:none;
padding:5px;
background:url(../layout/lupa-dois.png) 98% center no-repeat #fff
}
#accordion{
border:thin solid #ccc;
border-radius:10px;
padding:16px;
font-family: 'Asap', sans-serif;
}
 
#accordion .ui-state-active,#accordion .ui-widget-content .ui-state-active,#accordion .ui-widget-header .ui-state-active,
#accordion .ui-state-default,#accordion .ui-widget-content .ui-state-default,#accordion .ui-widget-header .ui-state-default{
background:none;
border:none	
}
#accordion .ui-icon-triangle-1-s {
background-position: -28px -16px;
}
#accordion .ui-icon-triangle-1-e {
 background-position:  -62px -16px;;
}
#accordion ul{
padding:0
}
#accordion li{
border-bottom:thin solid #ccc;
list-style:none;
background:url(../layout/arrow-down.png) no-repeat 98% center
}
#accordion li:hover{
opacity:.7
}
#accordion li a{
width:100%;
height:100%;
display:inline-block;
padding:10px 15px 0;
line-height:33px
}
#accordion li a:before{
content:url(../layout/pdf.png);
float:left
}
.n-arq{
text-align:right;
float:right;
padding-right:50px;
font-size:.8em
}
#botao-menu{
font-size:3em;
position:absolute;
top:1.2em;
right:5%;
display:none;
}


/*responsivo*/
@media only screen and (max-width: 1075px) {
#wrap-menu ul li{
margin: 1.2em .2em;
}
}
@media only screen and (max-width: 960px) {
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
display: block;
float: none;
margin:auto;
width:98%;
max-width:98%;
}
#botao-menu{
display:block;
}
#logo{
margin:auto;
width:50%;
display:block
}
#cabecalho {
padding: 23px 0 4px;
}
#wrap-menu ul{
display:none
}
#wrap-menu ul li{
display: block;
width: 100%;
clear: both;
text-align:center;
}
#wrap-menu ul li span{
width:100%;
height:0
}
#wrap-menu ul li:hover span{
height:5px
}
.box-slider .bx-controls,
.descricao .bx-controls{
top:auto
}
#bx-azule .span3{
width:50%;
float:left
}
#atendimento .span7{
text-align:center
}

}
@media only screen and (max-width: 500px) {
#rodape ul{
display:none
}
.n-arq{
display: block;
float: none;
}
#accordion li {
background: url(../layout/arrow-down.png) no-repeat 98% bottom;
}
#logo{
width: 17%
}
.area-aluno{
margin-top: 35px;
font-size: .8em;
}
#botao-menu {
    font-size: 2.2em;
    position: absolute;
    top: 0.5em;
    right: 5%;
    
}
.span{
height:135px
}
#bx-azule .span3{
width:100%;
float:none
}
.bx-nt{margin-bottom: 68px;}
}