ul#primary-nav, /* Configuração global do menu*/
ul#primary-nav ul {
	margin: 0;
	width: 170px; /* Width of Menu Items */
	font-size: 11px;
	cursor:pointer;
	color:#0F2D5D;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:#ff9900;

	
	}

ul#primary-nav li {
	position: relative;
	list-style: none;
	
}

ul#primary-nav li a {/* Configuração da linha do menu*/
	display: block;
	text-decoration: none;
	color: #ffffff;
	padding-bottom:6px;
	padding-top:6px;

}

ul#primary-nav li a:hover {/* Configuração do link de um linha que abre um submenu HOVER*/
	color:#FFCC66;
	text-decoration:none;
	
}

ul#primary-nav li.menuparent {
	background-color:#ff9900;
	color:#ffffff;
	padding-left:3px;
	padding-right:5px;
	background-image:url(../img/pontilhado_menu.jpg);
	background-position:bottom;
	background-repeat:no-repeat;

	
}

ul#primary-nav li.menuparent:hover, ul#primary-nav li.over {/* Configuração do link de um linha quando abre um submenu LINK*/
	background-color: #BF570B;
}


/* Fix IE. Hide from IE Mac \*/
* html ul#primary-nav li { float: left; height: 1%; }
* html ul#primary-nav li a { height: 1%; }
/* End */

ul#primary-nav ul { /*Configuração global do submenu*/
	position: absolute;
	display: none;
	left: 170px; /* Set 1px less than menu width */
	top: 0;
	background-color: #000000; /* IE6 Bug fundo sub menu */
}

ul#primary-nav li ul li a { /*Configuração da linha do submenu*/
	color:#ff9900;
	margin-right:5px;
	padding-left:5px;
	background-image:url(../img/pontilhado_menu.jpg);
	background-position:bottom;
	background-repeat:no-repeat;
} /* Sub Menu Styles */

ul#primary-nav li ul li a:hover { /*Configuração da linha do submenu*/
	color:#ff9900;
	background-color: #BF570B;
	margin-right:5px;
	} /* Sub Menu Styles */

ul#primary-nav li:hover ul ul,
ul#primary-nav li:hover ul ul ul,
ul#primary-nav li.over ul ul,
ul#primary-nav li.over ul ul ul { display: none; } /* Hide sub-menus initially */

ul#primary-nav li:hover ul,
ul#primary-nav li li:hover ul,
ul#primary-nav li li li:hover ul,
ul#primary-nav li.over ul,
ul#primary-nav li li.over ul,
ul#primary-nav li li li.over ul { display: block; } /* The magic */

/* CSS Document */